img {
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 70%;
    display: block;
    margin: 0 auto 20px;
}
h1 {
    text-align: center;
}
h2 {
    color: aqua;
}
summary {
    color: blueviolet;
    font-style: strong;
}
body {
    background: rgba(128, 148, 172, 0.89);
}
details {
    background: rgba(57, 116, 161, 0.313);
    margin: 10px 0;
    padding: 10px;
    border: 1px soild #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}